*{
    box-sizing: content-box;
    background-color: rgba(240, 248, 255, 0.699);
    

}

input[type="text"],
input[type="email"],
input[type="number"],
textarea{
    margin:4px;
    padding:10px;
    border:none;
    border-radius:4px;
    background-color: rgba(0, 38, 255, 0.562);
    color:darkblue;
    text-align: center;
    
    
}
.container{
    padding:20px;
    margin: 30px;
    border: 1px solid lightgrey;
   




}

p,h1{
    color:blue;
    text-align: center;
    
    
}

h1{
    color:lightblue;
    

}
input[type="submit"]{
    background-color:rgba(26, 41, 126, 0.596);
    border:none;
    border-radius:4px;
    padding:10px;
    color:darkblue;
    cursor:pointer;


}
